<!DOCTYPE html>
<html>
<head>
    <title>设备使用登记</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/equipment/justified-nav.css" rel="stylesheet">
    <link href="/stylesheets/equipment/equip-global.css" rel="stylesheet">
    
    <script type="text/javascript" src="/javascripts/equipment/jquery-2.1.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">

    <div class="masthead">
        <h3 class="text-muted">设备使用登记</h3>
        <ul class="nav nav-justified">
            <li><a href="/equipment/index">首页</a>
            </li>
            <li><a href="/equipment/record_list">设备使用登记</a>
            </li>
            <li><a href="/equipment/add">添加新设备</a>
            </li>
            <li><a href="/equipment/my">我的设备</a>
            </li>
            <li class="active"><a href="/equipment/about">关于</a>
            </li>
        </ul>
    </div>

    <div class="container-fluid margin-top">
        <!-- Example row of columns -->
        <div class="row">
            
        </div>
    </div>

    <!-- Site footer -->
    <div class="footer">
        <p>© Company 2014</p>
    </div>

</div>
<!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


</body>

</html>
